@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";
}

<div>
    <h2>Opps we have a problem!</h2>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Please contact the system administrator, the information below maybe useful for troubleshooting.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow: scroll">
                <pre>
                  @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>
