@model ThreeAmigos_ExpenseManagement.ViewModels.ExpenseFormViewModel
@*@model ThreeAmigos_ExpenseManagement.ViewModels.GetReportsBySupervisorViewModel*@

@{
    ViewBag.Title = "Expense Management System | Approve Expense";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";    
}

<h2>ApproveExpenses</h2>
 
 @foreach (var ExpenseReport in Model.ExpenseReports)
     
 {
   <p>
   <b> Report Date</b>: @ExpenseReport.CreateDate
   
   <b> Consultant</b> :@ExpenseReport.CreatedBy.Fullname
       

   <b> Department</b> :@ExpenseReport.Department.DepartmentName

   <b> Status</b>: @ExpenseReport.Status
        <input id="btnApproveExpenseReport" type="button" value="Approve" class="btn btn-primary" onclick="ShowExpenseItemModal();" />
        <input id="btnRejectExpenseReport" type="button" value="Reject" class="btn btn-primary" onclick="ShowExpenseItemModal();" />
                          
        @foreach (var ExpenseItem in ExpenseReport.ExpenseItems)
        {
           <p>
              <b> Expense Date</b>:@ExpenseItem.ExpenseDate
              <b> Location </b>: @ExpenseItem.Location
              <b> Description</b>:@ExpenseItem.Description
             <b>  Amount</b> :@ExpenseItem.Amount         
           </p>
        } 
        
        <br>  
   </p>
   
 }


